@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--index: calc(100vw + 100vh);
  --col-black: #000000;
  --col-jasmine: #f8e071;
  --col-buff: #daa674;
  --col-smokey-black: #140d04;
  --col-wallnut-brown: #625440;
  
	font-size: calc(var(--index) * 0.01);
}

body {
	font-size: 1rem;
	font-family: Poppins, sans-serif;
	background-color:var(--col-black);
	color: var(--col-buff);
   scroll-behavior: smooth;
}

/* -------------page Header-------------------*/
header {
	position: sticky;
	background: var(--col-smokey-black);
	top: 0;
	left: 0;
	width: 100%;
	padding: 0.5rem calc(100vw * 0.02);
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
	max-width: 1900px;
	margin: 0 auto;
}

.logo {
	font-size: 1.6rem;
	font-weight: 100;
	color: var(--col-buff);
	user-select: none;
}



/* --------Sections----------- */

section {
  border-bottom: 1px solid var(---col-wallnut-brown);
  text-align: center;
}
section:nth-child(even) {

}
section:nth-child(odd) {

}
section.active {}


/* -------------Navbar-------------------*/
.navigation a {
	position: sticky;
	font-size: .7rem;
	font-weight: 300;
	margin-left:calc(100vw * 0.02);
	padding: 6px calc(100vw * 0.02);
	text-transform: capitalize;
	text-decoration: none;
	transition: .6s;
	border-radius: 20px;
	color: var(--col-buff);
}

.navigation a:hover,
.navigation a.active {
	color: var(--col-smokey-black);
}

.navigation a span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--col-jasmine);
	border-radius: 20px;
	z-index: -1;
	transform: scale(0);
	transition: .3s;
}

.navigation a:hover span,
.navigation a.active span {
	transform: scale(1);
}


/* -------------parallax wrapper-------------------*/
.wrapper {
	display: flex;
	max-width: 1900px;
	max-height: calc(100vw / 1.683);
	justify-content: center;
	align-items: center;
	height: 100vh;
	text-align: center;
	background-color: var(--col-text);
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	z-index: -200;
	text-shadow: 1px 1px 1px var(--col-jasmine);
}

.layer {
	width: 100%;
	height: 100%;
	background-repeat: none;
	position: absolute;
	background-size: cover;
	background-position: center;
}

.sky {
	background-image: url(../images/sky1.png);
	z-index: -10;
}

.sun {
	background-image: url(../images/sun2.png);
	transform: translate3d(calc(var(--scroolTop) * -1.1), calc(var(--scroolTop) * 1.2), 0);
	z-index: -9;
}

.background3 {
	background-image: url(../images/background3.png);
	transform: translate3d(0, calc(var(--scroolTop) * 0.8), 0);
	z-index: -1;
}

.background4 {
	background-image: url(../images/background4.png);
	transform: translate3d(0, calc(var(--scroolTop) * 0.5), 0);
	z-index: 3;
}

.background5 {
	background-image: url(../images/background5.png);
	transform: translate3d(0, calc(var(--scroolTop) * 0.2), 0);
	z-index: 4;
}

.foregroundR {
	background-image: url(../images/foregroundR.png);
	transform: translate3d(calc(var(--scroolTop) * 0.2), 0, 0);
	left: calc(100vw * 0.12);
	z-index: 5;
}

.foregroundL {
	background-image: url(../images/foregroundL.png);
	transform: translate3d(calc(var(--scroolTop) * -0.2), 0, 0);
	right:calc(100vw * 0.12);
	z-index: 6;
}








/* -------------parallax label-------------------*/
.hero {
	display: flex;
	color: #41270E;
	flex-direction: column;
	max-width: 1900px;
	margin: 0 auto;
  padding-bottom: 6%;
}

.wrapper p {
	font-weight: 800;
	letter-spacing: 0.1rem;
	padding-left: 30px;
	transform: translate3d(0, calc(var(--scroolTop) * 0.62), 0);
	z-index: 1;
  will-change: scroll-position;
}

.wrapper h1 {
	font-size: 2.2rem;
	font-weight: 300;
	padding-right: 30px;
	transform: translate3d(0, calc(var(--scroolTop) ), 0);
	z-index: 1;
  will-change: scroll-position;
  
}

/* -------------page container-------------------*/

.container {
	font-size: 1.2rem;
	text-align: center;
	padding: 36px calc(100vw * 0.1);
	max-width: 1900px;
	margin: 0 auto;
}

.container p {
	text-align: justify;
}

.container h2 {
	display: block;
	width: 100%;
	padding: 12px 100px;
}

.about img {
	width: calc(var(--index) / 8);
	border-radius: 100%;
	margin: 0 auto;
}
.pro-sec{
	text-align: center;
}
#projects {
	color: var(--col-buff);
	padding-top: 50px;
}
.projects {
	display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
	overflow-x: hidden;
	background-color:var(--col-buff);

}

.projects img {
	display: block;
	max-width: 300px;
	width: auto;
	height: auto;
}

.project {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background: var(--col-smokey-black);
	color: var(--col-buff);
	max-width: 380px;
	height: 100%;
	margin: 25px auto;
	border-radius: 10px ;
}
.project p {
	padding: 12px 35px;
	line-height: 1.2rem;
}
.project h3 {
	font-size: 2rem;
	width: 100%;
	padding: 25px;
	line-height: 0.8rem;
	margin-bottom: 33px;
	background-color: var(--col-wallnut-brown);
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}


/*
      ---=== MEDIA QUERRIES ===---
*/
@media (max-width: 450px){
  .navigation a{
    font-size: 1rem;
  }
  .wrapper p,
  .wrapper h1{
  padding-left: 10px;
  }
}

